.h2{
    background: linear-gradient(45deg, #ffffff, #eef4fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 17px;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 10px;
}
.divH2{
    background-color: #1565C0;
}
.label{
    font-size: 16px;
    font-weight: 600;
    color: #0070b6;
    margin-bottom: 6px;
}